<div class="panel panel-default" ng-show="pale.palestra==1">
    <div class="panel-heading">
        <h4><i class="fa fa-fw fa-gift"></i><b>{{pale.title}} </b> <small>{{pale.nome_palestrante}}</small></h4> </div>
    <div class="panel-body">
    	<div class="row">
            <div class="col-md-2" style="padding-top: 5px;">
            	<img src="/images/place.png" style="width: 100%;" class="img-thumbnail" ng-show="pale.image==''">
            	<img src="{{pale.image}}" style="width: 100%;" class="img-thumbnail" ng-show="pale.image!=''">
            </div>
    		<div class="col-md-10">
    			<b></b>
        		<p style="text-align: justify;">{{pale.text_palesta}}</p>
        		<hr>
        		<p style="text-align: justify;">{{pale.text_pessoal}}</p>
        		<hr>
        		<p><b>Início:</b> {{pale.start|date:'d/M/yy H:mm'}} </p>

            </div>
        </div>
    </div>
</div>