<div id="term_demo" class="hidden-xs"></div>
<!-- Marketing Icons Section -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
                   Atrações
                </h1>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-check"></i>Hackthon</h4>
            </div>
            <div class="panel-body">
                <p style="text-align: justify;">Em breve mais informações.</p>
                <!--<a href="#" class="btn btn-default btn-block">Learn More</a>-->
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-gift"></i> Palestras</h4>
            </div>
            <div class="panel-body">
                <p style="text-align: justify;">Está curioso para saber o que vai ser apresentado? Então confira já. </p>
                <a href="#/Programacao" class="btn btn-default btn-block">Ver mais</a>
            </div>
        </div>
    </div>
</div>
<hr>
<!-- /.row -->
<div>
    <div class="pull-right hidden-xs" style="margin-bottom: 10px;">
        <b>Version</b> 0.1.0
    </div>
    <strong>Copyright © 2014-2015 VII Encontro do BCC.</strong> All rights reserved.
</div>