<!-- Marketing Icons Section -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Atrações</h1>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-check"></i>Hackthon</h4>
            </div>
            <div class="panel-body">
                <p style="text-align: justify;">O Hackathon é um evento que vem se tornando cada vez mais comum entre empresas e interessados por Computação...</p>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a href="#/Hack" type="button" class="btn btn-default">Leia mais</a>
                    <a href="https://docs.google.com/forms/d/17ssT8pkJY8awQL5zy7LWO5Xth3SBIyrUwkDN4glKxso/viewform?c=0&w=1" type="button" class="btn btn-default">Inscrição</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-gift"></i> Palestras</h4>
            </div>
            <div class="panel-body">
                <p style="text-align: justify;">Está curioso para saber o que vai ser apresentado? Então confira já. </p>
                <a href="#/Programacao" class="btn btn-default btn-block">Leia mais</a>
            </div>
        </div>
    </div>
</div>
<hr>
<!-- /.row -->
<div>
    <div class="pull-right hidden-xs" style="margin-bottom: 10px;">
        <b>Version</b> 0.1.1
    </div>
    <strong>Copyright © 2014-2015 VII Encontro do BCC.</strong> All rights reserved.
</div>