<div class="navbar navbar-default navbar-fixed-top" bs-navbar>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Encontro BCC 2015</a>
        </div>
        <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
                <li data-match-route="/$"><a href="#/">Home</a></li>
                <!-- <li data-match-route="/Colabore"><a href="#/Colabore">Colabore</a></li> -->
                <li data-match-route="/Palestrantes"><a href="#/Palestrantes">Palestrantes</a></li>
                <li data-match-route="/Hack"><a href="#/Hack">Hackthon</a></li>
                <li data-match-route="/Programacao"><a href="#/Programacao">Programação</a></li>
                <li class="dropdown">
                    <a href="#/Local" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Local <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/Chegando">Como Chegar</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#/Historia" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">História <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://bcc.ime.usp.br/40anos/">VI Encontro do BCC &mdash; 2014</a></li>
                        <li><a href="http://www.ime.usp.br/~encontrobcc/2013/">V Encontro do BCC &mdash; 2013</a></li>
                        <li><a href="http://www.ime.usp.br/~encontrobcc/2012/">IV Encontro do BCC &mdash; 2012</a></li>
                        <li><a href="http://www.ime.usp.br/~encontrobcc/2011/">III Encontro do BCC &mdash; 2011</a></li>
                        <li><a href="http://www.ime.usp.br/~encontrobcc/2010/">II Encontro do BCC &mdash; 2010</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>