<div class="panel panel-default" ng-repeat="pale in palestrantes | orderBy:'nome_palestrante'" ng-if="pale.palestra=='1'">
    <div class="panel-heading">
        <h4><i class="fa fa-fw fa-gift"></i><b>{{pale.nome_palestrante}}</b> <small>{{pale.title}} </small></h4> </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2" style="padding-top: 5px;">
                <img src="images/place.png" style="width: 100%;" class="img-thumbnail" ng-show="pale.image==''">
                <img src="{{pale.image}}" style="width: 100%;" class="img-thumbnail" ng-show="pale.image!=''">
            </div>
            <div class="col-md-10">
                <b>Sobre o Palestrante:</b>
                <p style="text-align: justify;" ng-bind-html="pale.text_pessoal"></p>
                <a href="{{pale.url}} " class="btn btn-default">Ler sobre palestra</a>
            </div>
        </div>
    </div>
</div>